<style type="text/css">
  .countdown {
    text-align: center;
    color: white;
  }

  .countdown-ticker {
    font-size: min(50vh, 15vw, 96px);
  }

  .countdown-title {
    font-size: 34px;
  }

  .countdown-content,
  .countdown-content a,
  .countdown-content p {
    color: white;
    font-size: 20px;
  }

  .countdown-content a {
    text-decoration: underline;
  }

  .countdown .button {
    background-color: white;
    color: #f24088;
  }
</style>
<script type="text/javascript">
  var countdownTarget = new Date('{{ $.date | time.Format "2006-01-02T15:04:05Z07:00" }}')
  console.log(`Counting down to: ${countdownTarget}`)

  function updateCountdown() {
    let now = new Date()

    // figure out how much the difference is
    let diff = countdownTarget - now

    // let it not be below zero
    if (diff < 0) diff = 0

    // convert to days, hours, minutes, and seconds
    let counter = [
      Math.floor((diff/(1000 * 60 * 60 * 24))), // days
      Math.floor((diff/(1000 * 60 * 60) % 24)), // hours
      Math.floor((diff/(1000 * 60) % 60)),      // minutes
      Math.floor(diff/(1000) % 60),              // seconds
      // we ignore the nanoseconds, Math.floor(diff % 1000)
    ]

    let counterString = `${counter[0]}d ${counter[1]}h ${counter[2]}m ${counter[3]}s`;

    [ ...document.getElementsByClassName('countdown-ticker') ].forEach((e) => {
      e.innerHTML = counterString;
    })

    return diff
  }

  // Run it once
  updateCountdown()

  // Then, keep running it
  setInterval(updateCountdown, 1000)
</script>
