<div class='header'>
  <div class="container">
    <div class="logo">
    <a href="{{ .Site.BaseURL }}">
<svg width="60" height="60" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <linearGradient id="b">
      <stop style="stop-color:#d90893;stop-opacity:1" offset="0"/>
      <stop style="stop-color:#908930;stop-opacity:0" offset="1"/>
    </linearGradient>
    <linearGradient id="a">
      <stop style="stop-color:#0a49f4;stop-opacity:1" offset="0"/>
      <stop style="stop-color:#c60bf5;stop-opacity:1" offset="1"/>
    </linearGradient>
    <linearGradient xlink:href="#a" id="c" x1="200.6413" y1="-54.75" x2="103.7293" y2="-155.7779" gradientUnits="userSpaceOnUse" gradientTransform="matrix(.11719 0 0 .11719 -9.8555 3.979)"/>
    <linearGradient xlink:href="#b" id="d" gradientUnits="userSpaceOnUse" x1="95.1233" y1="-53.6275" x2="206.6281" y2="-147.9202" gradientTransform="matrix(.11719 0 0 .11719 -9.8555 3.979)"/>
    <clipPath clipPathUnits="userSpaceOnUse" id="f">
      <path style="font-variation-settings:normal;opacity:1;fill:#ff2a2a;fill-opacity:1;stroke:none;stroke-width:8.46664;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:8.46664,8.46664;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000;stop-opacity:1" d="M-166.1178 31.7985c-.0869.729-.0784 1.4073-.1002 2.1549V42.42c0 4.676-3.7907 8.4667-8.4667 8.4667h-2.5393c-2.3453 0-4.2334 1.888-4.2334 4.2333s1.8881 4.2334 4.2334 4.2334h36.4065c14.028 0 25.4-11.372 25.4-25.4 0-14.028-11.372-25.4-24.981-25.3978-13.6089.0024-24.6003 10.101-25.7193 23.2429z"/>
    </clipPath>
    <clipPath clipPathUnits="userSpaceOnUse" id="g">
      <path style="fill:red;fill-opacity:1;stroke-width:8.46667;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:8.46667,8.46667;stop-color:#000" d="M-185.7004 114.3867c0 25.718 20.8486 46.5667 46.5666 46.5667h67.735c2.3452 0 4.2333-1.888 4.2333-4.2334 0-2.3452-1.888-4.2333-4.2333-4.2333h-8.4667c-7.014 0-12.7-5.686-12.7-12.7l-.003-25.4c0-25.718-20.8486-46.5666-46.5662-46.5666-25.7175 0-46.566 20.8486-46.566 46.5666z"/>
    </clipPath>
    <clipPath clipPathUnits="userSpaceOnUse" id="e">
      <rect style="font-variation-settings:normal;vector-effect:none;fill:red;fill-opacity:1;stroke:none;stroke-width:.329999;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;-inkscape-stroke:none;stop-color:#000" width="135.4667" height="135.4667" x="84.1004" y="-169.42" ry="23.4788" transform="scale(-1)"/>
    </clipPath>
  </defs>
  <g transform="matrix(3.77953 0 0 3.77953 0 0)" style="stroke-width:.264584">
    <rect style="font-variation-settings:normal;vector-effect:none;fill:url(#c);fill-opacity:1;stroke:none;stroke-width:.0873123;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;-inkscape-stroke:none;stop-color:#000" width="15.875" height="15.875" y="-15.875" ry="2.7514" transform="scale(1 -1)"/>
    <rect style="font-variation-settings:normal;vector-effect:none;fill:url(#d);fill-opacity:1;stroke:none;stroke-width:.0873123;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;-inkscape-stroke:none;stop-color:#000" width="15.875" height="15.875" y="-15.875" ry="2.7514" transform="scale(1 -1)"/>
    <g clip-path="url(#e)" transform="matrix(-.11719 0 0 .11719 -9.8555 -3.979)" style="stroke-width:2.25778">
      <g style="stroke-width:2.25778">
        <path style="font-variation-settings:normal;fill:#d6f7ff;fill-opacity:1;stroke:none;stroke-width:19.1158;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:19.1158,19.1158;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000" d="M-166.1178 31.7985c-.0869.729-.0784 1.4073-.1002 2.1549V42.42c0 4.676-3.7907 8.4667-8.4667 8.4667h-2.5393c-2.3453 0-4.2334 1.888-4.2334 4.2333s1.8881 4.2334 4.2334 4.2334h36.4065c14.028 0 25.4-11.372 25.4-25.4 0-14.028-11.372-25.4-24.981-25.3978-13.6089.0024-24.6003 10.101-25.7193 23.2429z" transform="translate(-4.2534)"/>
        <path clip-path="url(#f)" style="fill:#fff;stroke-width:19.1158;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:19.1158,19.1158;stop-color:#000" d="M-187.2389 42.4288h20.7309c2.3452 0 4.2333 1.888 4.2333 4.2333s-1.888 4.2334-4.2333 4.2334h-20.7309c-2.3452 0-4.2333-1.888-4.2333-4.2334 0-2.3452 1.888-4.2333 4.2333-4.2333z" transform="translate(-4.2534)"/>
      </g>
      <path style="fill:#d6f7ff;fill-opacity:1;stroke-width:19.1158;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:19.1158,19.1158;stop-color:#000" d="M-194.1772 114.3867c0 25.718 20.8486 46.5667 46.5666 46.5667h67.735c2.3452 0 4.2333-1.888 4.2333-4.2334 0-2.3452-1.888-4.2333-4.2333-4.2333h-8.4667c-7.014 0-12.7-5.686-12.7-12.7l-.003-25.4c0-25.718-20.8487-46.5666-46.5662-46.5666s-46.5661 20.8486-46.5661 46.5666z"/>
      <path style="font-variation-settings:normal;fill:#3e3752;fill-opacity:1;stroke:none;stroke-width:19.1158;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:19.1158,19.1158;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000" d="M-139.264 127.0867c-2.272 0-4.101 1.829-4.101 4.101v.2646c0 2.272 1.829 4.101 4.101 4.101h8.7312c2.272 0 4.101-1.829 4.101-4.101v-.2645c0-2.272-1.829-4.101-4.101-4.101zm19.05 0c-.071 0-.1418.002-.2119.005-2.1728.1094-3.8892 1.895-3.8892 4.0959v.2646c0 2.272 1.8291 4.101 4.101 4.101h8.7313c2.272 0 4.101-1.829 4.101-4.101v-.2646c0-2.272-1.829-4.101-4.101-4.101zm19.0495 0c-2.272 0-4.101 1.829-4.101 4.101v.2646c0 2.272 1.829 4.101 4.101 4.101h8.7312c2.272 0 4.101-1.829 4.101-4.101v-.2645c0-2.272-1.829-4.101-4.101-4.101zm19.05 0c-2.272 0-4.101 1.829-4.101 4.101v.2646c0 2.272 1.829 4.101 4.101 4.101h8.7312c2.272 0 4.101-1.829 4.101-4.101v-.2645c0-2.272-1.829-4.101-4.101-4.101zm-35.5942 16.9334c-2.4876 0-4.4902 1.888-4.4902 4.2333 0 2.3452 2.0026 4.2333 4.4902 4.2333h16.4196c2.4876 0 4.4902-1.888 4.4902-4.2333s-2.0026-4.2334-4.4902-4.2334zm27.5166 0c-2.4875 0-4.4901 1.888-4.4901 4.2333 0 2.3452 2.0026 4.2333 4.4901 4.2333h16.4197c2.4875 0 4.4902-1.888 4.4902-4.2333s-2.0027-4.2334-4.4902-4.2334z" clip-path="url(#g)" transform="translate(-8.4768)"/>
    </g>
  </g>
</svg>

Prav</a>
    </div>
    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div>
